html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.canvas {
    position: relative;
    display: flex;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.rocket {
    position: relative;
}

#rocket-img {
    display: inline-block;
    height: 130px;
    z-index: 1;
}

.booster {
    position: absolute;
    height: 40px;
    width: 8px;
    background-color: #f5d020;
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
    filter: blur(px);
}

.fire {
    top: 90%;
    right: 51%;
}

.fire2 {
    top: 90%;
    right: 42%;
}